<h2> Creatures </h2>

<table>
    <tr>
        <th> Name </th>
        <th> Number </th>
        <th> No. of Groups </th>
    </tr>
    <tr ng-repeat="x in $parent.creatures">
        <td>{{x.name}}</td>
        <td><input type="number" ng-model="x.number"></td>
        <td><input type="number" ng-model="x.n_groups"></td>
    </tr>
</table>
<input id=creatureInput type="text" ng-model="$parent.newName">
<button ng-click="$parent.addCreature()"> + </button><br>
<br>
<button ng-click="$parent.proceed()"> Proceed </button>